@font-face {
    font-family: 'SansationRegular';
    src: url('fonts/Sansation_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationLight';
    src: url('fonts/Sansation_Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationBold';
    src: url('fonts/Sansation_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}