@import "fonts.css";

* {
    margin: 0;
    padding: 0;
}

ul.tree {
    margin: 1px 0 1px 10px;
    list-style: none;
    -webkit-user-select: none;
}
    ul.tree li {
        overflow-y: hidden;
    }

    li.Folder.selected .title {
        background: #cccccc;
    }

        li.Folder .icon {
            width: 28px;
            height: 18px;
            margin: 1px 2px;
            background: url("images/icons/folder.png") no-repeat;
            float: left;
        }

        li.Folder .expand,
        li.Folder .fold {
            width: 18px;
            height: 18px;
            margin: 1px 0;
            float: left;
            cursor: pointer;
        }

        li.Folder .expand {
            background: url("images/icons/expand.png") no-repeat;
        }

        li.Folder .expand:hover {
            background: url("images/icons/expand_hover.png") no-repeat;
        }

        li.Folder .fold {
            background: url("images/icons/fold.png") no-repeat;
        }

        li.Folder .fold:hover {
            background: url("images/icons/fold_hover.png") no-repeat;
        }

        li.Folder .title {
            height: 18px;
            padding: 1px 1px 0 1px;
            font-size: 14px;
            float: left;
            -webkit-user-select: none;
            cursor: default;
        }

li.File.selected .title {
    background: #cccccc;
}

    li.File .icon {
        width: 19px;
        height: 18px;
        margin: 1px 2px 0 40px;
        float: left;
    }

        li.File .icon.java {
            background: url("images/icons/java.png") no-repeat;
        }

        li.File .icon.txt {
            background: url("images/icons/txt.png") no-repeat;
        }

    li.File .title {
        height: 18px;
        padding: 1px 1px 0 1px;
        font-size: 14px;
        float: left;
        -webkit-user-select: none;
        cursor: default;
    }

.dnd {
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.dndTag {
    padding: 2px;
    background: #cccccc;
    z-index:1000;
    position:absolute;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
}

.Window {
    width: 800px;
    height: 600px;
    float: left;
}

    .Window .header {
        height: 35px;
        width: 100%;
        background: #00ff11;
        float: left;
    }

    .Window .body {
        width: 100%;
        height: 520px;
        float: left;
    }

        .Window .body .left {
            width: 200px;
            height: 100%;
            float: left;
            background: #ff0011;
        }

        .Window .body .right {
            width: 600px;
            height: 100%;
            float: left;
            background: #00ffff;
        }

            .Window .body .right .top {
                width: 100%;
                height: 70%;
                float: left;
                background: #0000FF;
            }

            .Window .body .right .bottom {
                width: 100%;
                height: 30%;
                float: left;
                background: #b6d9f7;
            }

.Frame {
    background: #f5f5f5;
}

    .Frame .content {
        position: relative;
    }

        .Frame .content .Editor {
            position: absolute;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

.FrameBorder {
    background: none;
    position: absolute;
    z-index: 100;
}

    .FrameBorder:hover {
        cursor: pointer;
    }

    .FrameBorder.active {
        background: rgba(100, 100, 100, 0.5);
    }

.TabBar {
    height: 30px;
}

    .TabBar .outer {
        height: 100%;
        background: url("images/ui/tab_bar_bg.png") repeat-x;
        -webkit-box-shadow: 0px 1px 1px #3f3f3f;
        margin: 0 0 2px 0;
        overflow: hidden;
        float: left;
    }

        .TabBar .outer .inner {
            height: 100%;
            overflow: hidden;
        }

    .TabBar .leftBtn {
        height: 30px;
        width: 20px;
        background: #ff00ff;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .TabBar .rightBtn {
        height: 30px;
        width: 20px;
        background: #ff00ff;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

.Tab {
    height: 26px;
    color: #053f70;
    margin: 4px 1px 0 1px;
    text-shadow: 1px 1px 0px #b6d9f7;
    font-family: SansationRegular;
    float: left;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
}

    .Tab .button {
        height: 100%;
        background: url("images/ui/tab.png") repeat-x;
        -webkit-border-top-left-radius: 5px;
        -webkit-box-shadow: 0px -1px 0px #505050;
        float: left;
    }

        .Tab .button .title {
            margin: 4px 6px 0 6px;
        }

    .Tab:Hover .button,
    .Tab.selected .button {
        color: #ededed;
        background: url("images/ui/tab_selected.png") repeat-x;
        text-shadow: -1px -1px 0px #3f3f3f;
    }

    .Tab.selected .button {
        font-family: SansationBold;
    }

    .Tab .close {
        width: 16px;
        height: 100%;
        background: url("images/ui/tab.png");
        margin: 0 1px 0 0;
        -webkit-border-top-right-radius: 5px;
        -webkit-box-shadow: 0px -1px 0px #505050;
        float: left;
    }

    .Tab:Hover .close,
    .Tab.selected .close {
        background: url("images/ui/tab_selected.png") repeat-x;
    }

        .Tab .close:hover {
            background: url("images/ui/tab_close.png");
        }

.HMenu {
    height: 24px;
    background: #ededed;
    list-style: none;
}

.HMenuBtn {
    padding: 0 2px;
}

    .HMenuBtn .title {
        height: 20px;
        margin: 2px 2px 0 2px;
        padding: 0 2px;
        font-size: 18px;
        float: left;
        cursor: pointer;
    }

    .HMenuBtn:hover .title {
        background: #cccccc;
    }

.HMenuDropDown {
    position: absolute;
    top: 30px;
    left: 30px;
    list-style: none;
}

.HMenuDropDownBtn {
    
}
    .HMenuDropDownBtn .title {
        height: 18px;
        margin: 2px 1px 0 1px;
        font-size: 16px;
        float: none;
    }

    .HMenuDropDownBtn:hover .title {
        background: #cccccc;
    }

.SplashScreen {
    position: absolute;
    background: #ededed;
    top: 0;
    left: 0;
    z-index: 10000;
}