@import "fonts.css";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: DroidSans;
}

ul.tree {
    margin: 1px 0 1px 10px;
    list-style: none;
    -webkit-user-select: none;
}
    ul.tree li {
        overflow: hidden;
    }

    li.Folder.selected .title {
        background: #cccccc;
    }

        li.Folder .icon {
            width: 28px;
            height: 18px;
            margin: 1px 2px;
            background: url("images/icons/folder.png") no-repeat;
            float: left;
        }

        li.Folder .expand,
        li.Folder .fold {
            width: 18px;
            height: 18px;
            margin: 1px 0;
            float: left;
            cursor: pointer;
        }

        li.Folder .expand {
            background: url("images/icons/expand.png") no-repeat;
        }

        li.Folder .expand:hover {
            background: url("images/icons/expand_hover.png") no-repeat;
        }

        li.Folder .fold {
            background: url("images/icons/fold.png") no-repeat;
        }

        li.Folder .fold:hover {
            background: url("images/icons/fold_hover.png") no-repeat;
        }

        li.Folder .title {
            height: 18px;
            padding: 1px 1px 0 1px;
            font-size: 14px;
            float: left;
            -webkit-user-select: none;
            cursor: default;
        }

li.File.selected .title {
    background: #cccccc;
}

    li.File .icon {
        width: 19px;
        height: 18px;
        margin: 1px 2px 0 40px;
        float: left;
    }

        li.File .icon.java {
            background: url("images/icons/java.png") no-repeat;
        }

        li.File .icon.txt {
            background: url("images/icons/txt.png") no-repeat;
        }

    li.File .title {
        height: 18px;
        padding: 1px 1px 0 1px;
        font-size: 14px;
        float: left;
        -webkit-user-select: none;
        cursor: default;
    }

.dnd {
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.dndTag {
    padding: 2px;
    background: #cccccc;
    z-index:1000;
    position:absolute;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
}

.Frame {
    position: absolute;
    background: #f5f5f5;
    overflow: hidden;
}

.Frame.stdOverflow {
    overflow: visible;
}

    .Frame .content,
    .Frame .tabBar,
    .Frame .menu {
        position: relative;
        float: left;
    }

    .Frame .menu {
        background: url("images/menu_bg.png") repeat-x;
    }

        .Frame .content .Editor {
            position: absolute;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

.FrameBorder {
    background: none;
    position: absolute;
    z-index: 100;
}

    .FrameBorder:hover {
        cursor: pointer;
    }

    .FrameBorder.active {
        background: rgba(100, 100, 100, 0.5);
    }

.TabBar {
    height: 30px;
    -webkit-user-select: none;
}

    .TabBar .outer {
        height: 100%;
        background: url("images/ui/tab_bar_bg.png") repeat-x;
        /* -webkit-box-shadow: 0px 1px 1px #3f3f3f; */
        margin: 0 0 2px 0;
        overflow: hidden;
        float: left;
        border-left: #73aaee 1px solid;
        border-right: #0e1c4d 1px solid;
    }

        .TabBar .outer .inner {
            height: 100%;
            overflow: hidden;
        }

    .TabBar .leftBtn {
        height: 30px;
        width: 18px;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        background: url("images/ui/tab_bar_bg.png") repeat-x;
        border-right: #0e1c4d 1px solid;
    }

    .TabBar .leftBtn:hover {
        background: url("images/ui/tab_bar_bg_hover.png") repeat-x;
    }

        .TabBar .leftBtn .icon {
            margin:  8px 0 0 5px;
            width: 8px;
            height: 13px;
            background: url("images/ui/arrow_left.png") no-repeat;
        }

    .TabBar .rightBtn {
        height: 30px;
        width: 18px;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        background: url("images/ui/tab_bar_bg.png") repeat-x;
        border-left: #73aaee 1px solid;
    }

    .TabBar .rightBtn:hover {
        background: url("images/ui/tab_bar_bg_hover.png") repeat-x;
    }

        .TabBar .rightBtn .icon {
            margin:  8px 0 0 5px;
            width: 8px;
            height: 13px;
            background: url("images/ui/arrow_right.png") no-repeat;
        }

.Tab {
    height: 26px;
    margin: 4px 1px 0 1px;
    float: left;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    background: rgba(255, 255, 255, 0.4);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.Tab:first-child {
    margin: 4px 1px 0 4px;
}

.Tab:last-child {
    clear: right;
}

    .Tab .inner {
        height: 26px;
        margin: 2px 2px 0 2px;
    }

    .Tab .button {
        height: 100%;
        background: url("images/ui/tab.png") repeat-x;
        border-right: #9f9f9f 1px solid;
        -webkit-border-top-left-radius: 5px;
        text-shadow: 1px 1px 0px #ffffff;
        color: #3f3f3f;
        float: left;
    }

        .Tab .button .title {
            margin: 4px 6px 0 6px;
        }

    .Tab:Hover .button,
    .Tab.selected .button {
        text-shadow: -1px -1px 0px #3f3f3f;
        color: #ffffff;
        background: url("images/ui/tab_selected.png") repeat-x;
        border-right: #505050 1px solid;
    }

    .Tab.selected .button {
        font-family: DroidSansBold !important;
    }

    .Tab .close {
        width: 16px;
        height: 100%;
        background: url("images/ui/tab.png");
        border-left: #ffffff 1px solid;
        margin: 0 1px 0 0;
        -webkit-border-top-right-radius: 5px;
        float: left;
    }

    .Tab:Hover .close,
    .Tab.selected .close {
        background: url("images/ui/tab_selected.png") repeat-x;
    }

        .Tab .close:hover {
            background: url("images/ui/tab_close.png");
        }

        .Tab .close .icon {
            width: 10px;
            height: 11px;
            background: url("images/ui/close.png") no-repeat;
            margin: 7px 3px;
        }

.HMenu {
    height: 24px;
    background: #ededed;
    list-style: none;
}

.HMenuBtn {
    padding: 0 2px;
}

    .HMenuBtn .title {
        height: 20px;
        margin: 2px 2px 0 2px;
        padding: 0 2px;
        font-size: 18px;
        float: left;
        cursor: pointer;
    }

    .HMenuBtn:hover .title {
        background: #cccccc;
    }

.HMenuDropDown {
    position: absolute;
    list-style: none;
    z-index: 2000;
    background: #ededed;
    border: 1px solid #1f1f1f;
}

.HMenuDropDownBtn {
    
}
    .HMenuDropDownBtn .title {
        height: 18px;
        margin: 2px 1px 0 1px;
        font-size: 16px;
        float: none;
        cursor: pointer;
        webkit-user-select: none;
    }

    .HMenuDropDownBtn:hover .title {
        background: #cccccc;
    }

.SplashScreen {
    position: absolute;
    background: #ededed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.Console {
    float: left;
    overflow: scroll;
    font-size: 12px;
    background: #000000;
    color: #999999;
}

    .Console .message {
        width: 100%;
        padding: 2px;
        min-height: 12px;
    }

.Tools {
    float: left;
    list-style: none;
}

    .Tools .button {
        float: left;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

        .Tools .button.search {
            background: url("images/icons/loupe.png");
        }

        .Tools .button.search:hover {
            background: url("images/icons/loupe_hover.png");
        }

        .Tools .button.fontSizeInc {
            background: url("images/icons/font_size_inc.png");
        }

        .Tools .button.fontSizeInc:hover {
            background: url("images/icons/font_size_inc_hover.png");
        }

        .Tools .button.fontSizeDec {
            background: url("images/icons/font_size_dec.png");
        }

        .Tools .button.fontSizeDec:hover {
            background: url("images/icons/font_size_dec_hover.png");
        }

        .Tools .button.save {
            background: url("images/icons/save.png");
        }

        .Tools .button.save:hover {
            background: url("images/icons/save_hover.png");
        }

        .Tools .button.class {
            background: url("images/icons/class.png");
        }

        .Tools .button.class:hover {
            background: url("images/icons/class_hover.png");
        }

        .Tools .button.generalization {
            background: url("images/icons/generalization.png");
        }

        .Tools .button.generalization:hover {
            background: url("images/icons/generalization_hover.png");
        }

        .Tools .button.aggregation {
            background: url("images/icons/aggregation.png");
        }

        .Tools .button.aggregation:hover {
            background: url("images/icons/aggregation_hover.png");
        }

        .Tools .button.composition {
            background: url("images/icons/composition.png");
        }

        .Tools .button.composition:hover {
            background: url("images/icons/composition_hover.png");
        }

        .Tools .button.association {
            background: url("images/icons/association.png");
        }

        .Tools .button.association:hover {
            background: url("images/icons/association_hover.png");
        }

.Class {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
    -webkit-user-select: none;
    cursor: default;
    font-size: 14px;
}

.Class.selected {
    background: rgba(15, 79, 17, 0.5);
}

    .Class .inner {
        margin: 3px;
        -webkit-border-radius: 5px;
        float: left;
        clear: both;
    }

    .Class .toolbar {
        padding:  0 0 5px 0;
        float: left;
        clear: both;
    }

    .Class .body {
        float: left;
        clear: both;
        background: #f0f0f0;
        padding: 2px 0;
        width: 100%;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
    }

        .Class .bodyHeader {
            float: left;
            clear: both;
            width: 100%;
            border-bottom: #3f3f3f 1px solid;
        }

            .Class .bodyHeader .bodyTitle {
                margin: 2px;
                float: left;
                color: #3f3f3f;
                text-shadow: 1px 1px 1px #ffffff;
            }

        .Class .body .button {
            margin: 1px 2px;
            width: 15px;
            height: 15px;
            background: #b6d9f7;
            -webkit-border-radius: 3px;
            text-align: center;
            float: left;
        }

        .Class .body .button:hover {
            background: #053f70;
            color: #f5f5f5;
        }

    .Class .title {
        background: url("images/ui/class_header_bg.png") left top repeat-x, url("images/ui/class_header_bg_color.png");
        color: #BABABA;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        float: left;
        clear: both;
        width: 100%
    }

        .Class .title .first {
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
        }

        .Class .title .name,
        .Class .title .abstract,
        .Class .title .stereotype {
            text-align: center;
            padding:  0 4px;
        }

        .Class .title .name:hover,
        .Class .title .abstract:hover,
        .Class .title .stereotype:hover {
            background: #336699;
        }

    .Class .operation,
    .Class .attribute,
    .Class .operations,
    .Class .attributes {
        float: left;
        clear: both;
        margin: 1px 2px;
        font-size: 12px;
    }

        .Class .operation.static,
        .Class .attribute.static {
            border-bottom: 1px solid #3f3f3f;
        }

    .Class .parameter {
        float: left;
        margin: 0 2px;
    }

    .Class .icon {
        width: 24px;
        height: 24px;
        float: left;
    }

        .Class .icon.pin {
            background: url("images/icons/pin.png") no-repeat;
        }

        .Class .icon.pin:hover {
            background: url("images/icons/pin_hover.png") no-repeat;
        }

        .Class .icon.drag {
            background: url("images/icons/drag.png") no-repeat;
        }

        .Class .icon.drag:hover {
            background: url("images/icons/drag_hover.png") no-repeat;
        }

    .Class .component.icon {
        width: 24px;
        height: 24px;
        float: left;
    }

        .Class .component.icon.public {
            background: url("images/icons/public_hover.png") no-repeat;
        }

        .Class .component.icon.protected {
            background: url("images/icons/protected_hover.png") no-repeat;
        }

        .Class .component.icon.private {
            background: url("images/icons/private_hover.png") no-repeat;
        }

        .Class .component.icon.package {
            background: url("images/icons/package_hover.png") no-repeat;
        }

    .Class .component.text {
        float: left;
    }

        .Class .component.text .tag {
            float: left;
            padding: 2px 0;
        }

        .Class .component.text .label {
            float: left;
            margin: 0 2px;
            padding: 2px;
            color: #1f1f1f;
        }

            .Class .component.text .label:hover {
                -webkit-border-radius: 4px;
                background: #336699;
                color: #BABABA;
            }

        .Class .component.text .input {
            float: left;
            background: none;
            border:  none;
            margin: 2px 4px;
        }

        .Class .component.text .input.selected {
            background: #ffffff;
            -webkit-box-shadow: 1px 1px 1px #1f1f1f;
            -webkit-border-radius: 4px;
            border: 1px solid #aaaaaa;
        }

/* connector */
.Association.north,
.Association.south,
.Association.east,
.Association.west,
.Point {
    width: 7px;
    height: 7px;
    background: #444444;
    position: absolute;
    -webkit-border-radius: 2px;
    z-index: 100;
}

    .Generalization.north {
        width: 17px;
        height: 15px;
        background: url("images/tools/generalization_north.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Generalization.east {
        width: 15px;
        height: 17px;
        background: url("images/tools/generalization_east.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Generalization.south {
        width: 17px;
        height: 15px;
        background: url("images/tools/generalization_south.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Generalization.west {
        width: 15px;
        height: 17px;
        background: url("images/tools/generalization_west.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Aggregation.north,
    .Aggregation.south {
        width: 17px;
        height: 29px;
        background: url("images/tools/aggregation_north.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Aggregation.east,
    .Aggregation.west {
        width: 29px;
        height: 17px;
        background: url("images/tools/aggregation_east.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Composition.north,
    .Composition.south {
        width: 17px;
        height: 29px;
        background: url("images/tools/composition_north.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

    .Composition.east,
    .Composition.west {
        width: 29px;
        height: 17px;
        background: url("images/tools/composition_east.png") no-repeat;
        position: absolute;
        z-index: 100;
    }

.Line {
    position: absolute;
    background: #444444;
    z-index: 95;
}

    .Line.selected,
    .Point.selected,
    .Line.hovered,
    .Point.hovered {
        border: 1px solid #053f70;
        background: #336699;
    }

    .Point.hovered {
        width: 12px;
        height: 12px;
        -webkit-border-radius: 4px;
    }

.ContextMenu {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
    -webkit-user-select: none;
    cursor: default;
    z-index: 150;
    font-size: 14px;
}

    .ContextMenu .inner {
        margin: 3px;
        -webkit-border-radius: 5px;
    }

    .ContextMenu .title {
        padding: 2px 4px;
        text-align: center;
        background: #053f70;
        color: #ededed;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
    }

    .ContextMenu .menu {
        list-style: none;
    }

        .ContextMenu .menu .button {
            padding: 2px 4px;
            border-top: solid 1px #ffffff;
            border-bottom: solid 1px #505050;
            background: #ededed;
            color: #1f1f1f;
        }

        .ContextMenu .menu .button:first-child {
            border-top: none;
        }

        .ContextMenu .menu .button:last-child {
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom: none;
        }

        .ContextMenu .menu .button:hover {
            background: #aaaaaa;
        }

            .ContextMenu .menu .button .btnTitle {
            }

            .ContextMenu .menu .button .extend {
            }

.Icon {
    width: 24px;
    height: 24px;
}

    .Icon.test {
        background: url("images/icons/font_size_inc.png") no-repeat;
    }

.Dialog {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
    cursor: default;
    font-size: 14px;
    z-index: 200;
}

.Dialog.selected {
    background: rgba(15, 79, 17, 0.5);
}

    .Dialog .inner {
        margin: 4px;
        -webkit-border-radius: 5px;
        float: left;
        clear: both;
    }

    .Dialog .header {
        width: 100%;
        float: left;
        clear: both;
        background: #053f70;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-user-select: none;
    }

        .Dialog .header .title {
            float: left;
            padding: 2px 4px;
            color: #ededed;
        }

        .Dialog .header .close {
            width: 16px;
            height: 16px;
            float: right;
            background: #ff0011;
            -webkit-border-radius: 4px;
            margin: 3px;
        }

    .Dialog .body {
        float: left;
        clear: both;
        width: 100%;
        background: #ededed;
        position: relative;
    }

        .Dialog .body .content {
        }

            .Dialog .body .content .cntBody {
                border-top: 1px solid #ffffff;
                padding: 2px 1px 5px 1px;
            }

            .Dialog .body .content .cntHeader {
                border-bottom: #1f1f1f 1px solid;
                padding: 2px 4px;
            }

        .Dialog .body .preview {
            float: left;
            clear: both;
            width: 100%;
        }

            .Dialog .body .preview .row {
                text-align: center;
                padding: 5px 0;
            }

                .Dialog .body .preview .row .title {
                    font-weight: bold;
                }

                .Dialog .body .preview .row.static .sample {
                    border-bottom: #1f1f1f 1px solid;
                }

        .Dialog .body .table {
            float: left;
            clear: both;
            width: 100%;
        }

            .Dialog .body .table .row {
                float: left;
            }

    .Dialog .footer {
        float: left;
        clear: both;
        width: 100%;
        background: #ededed;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-user-select: none;
    }

        .Dialog .footer .button {
            background: #053f70;
            color: #ededed;
            padding: 2px 4px;
            margin: 2px;
            -webkit-border-radius: 4px;
            -webkit-user-select: none;
        }

        .Dialog .footer .button:hover {
            background: #336699;
        }

            .Dialog .footer .button.left {
                float: left;
            }

            .Dialog .footer .button.right {
                float: right;
            }

.TextInput {
    position: relative;
    padding: 2px 4px;
    width: 100%;
    float: left;
}

    .TextInput input {
        float: left;
        border: none;
        height: 19px;
        -webkit-box-shadow: 0px 0px 1px #1f1f1f;
    }

        .TextInput input.error {
            background: #ff0011;
            color: #f0f0f0;
        }

        .TextInput input.warning {
            background: #ffd700;
        }

    .TextInput .dropDown {
        float: left;
        clear: both;
        position: relative;
    }

    .TextInput .buttons {
        float: left;
        clear: right;
    }

        .TextInput .buttons .button {
            float: left;
            height: 19px;
            -webkit-border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -webkit-box-shadow: 0px 0px 1px #1f1f1f;
        }

            .TextInput .buttons .button.title {
                padding: 2px;
                background: #336699;
                color: #D7D7D7;
            }

            .TextInput .buttons .button.icon {
                width: 19px;
            }

                .TextInput .buttons .button.icon.arrow {
                    background: url("images/icons/drop_down_arrow.png") no-repeat;
                }

                .TextInput .buttons .button.icon.arrow:hover {
                    background: url("images/icons/drop_down_arrow_hover.png") no-repeat;
                }

.DropDownMenu {
    position: absolute;
    background: #D7D7D7;
    -webkit-border-bottom-left-image: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
    float: left;
    z-index: 150;
}

    .DropDownMenu .option {
        float: left;
        width: 100%;
        clear: both;
        -webkit-user-select: none;
        border-top: #FFFFFF 1px solid;
        border-bottom: #666666 1px solid;
    }

    .DropDownMenu .option:hover {
        background: #053f70;
        color: #EEEEEE;
    }

    .DropDownMenu .option:first-child {
        border-top: none;
    }

    .DropDownMenu .option:last-child {
        border-bottom: none;
    }

        .DropDownMenu .option .icon {
            float: left;
        }

        .DropDownMenu .option .title {
            float: left;
            margin: 2px 4px;
        }

.MouseInfo {
    position: absolute;
    -webkit-user-select: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #1f1f1f;
    cursor: default;
    font-size: 12px;
    z-index: 300;
}

    .MouseInfo .inner {
        -webkit-border-radius: 5px;
        margin: 4px;
        background: #ededed;
        float: left;
        clear: both;
    }

        .MouseInfo .icon {
            float: left;
            margin: 2px 4px;
        }

        .MouseInfo .title {
            float: left;
            margin: 2px 4px;
        }

.ConnectorLabel {
    position: absolute;
    background: #666666;
    color: #ededed;
    -webkit-box-shadow: 1px 1px 1px #000000;
    font-size: 12px;
    padding: 1px 2px;
    z-index: 105;
}

    .ConnectorLabel.rotated {
        -webkit-transform: rotate(90deg);
        -webkit-box-shadow: 1px -1px 1px #000000;
    }

    .ConnectorLabel .input {
        float: left;
    }

    .ConnectorLabel .label {
        float: left;
        padding: 1px 2px;
    }

    .ConnectorLabel .label:hover {
        background: #ededed;
        color: #666666;
    }

    .ConnectorLabel .icon {
        margin-top: 2px;
        width: 11px;
        height: 10px;
    }

        .ConnectorLabel .icon.readDirectionEast {
            background: url("images/icons/read_direction_east.png") no-repeat;
        }

        .ConnectorLabel .icon.readDirectionEast:hover {
            background: url("images/icons/read_direction_east_hover.png") no-repeat;
        }

        .ConnectorLabel .icon.readDirectionWest {
            background: url("images/icons/read_direction_west.png") no-repeat;
        }

        .ConnectorLabel .icon.readDirectionWest:hover {
            background: url("images/icons/read_direction_west_hover.png") no-repeat;
        }

.List {
    float: left;
}

    .List .button {
        float: left;
        width: 20px;
        height: 20px;
        background: #336699;
        clear: none;
    }

        .List .button:hover {
            background: #aaaaaa;
        }

    .List .body {
        float:left;
        clear: none;
    }

        .List .body .entry {
            width: 100%;
            float: left;
            clear: both;
        }

            .List .body .entry .title {
                float: left;
            }

            .List .body .entry .edit {
                float: left;
                width: 20px;
                height: 20px;
                background: #7fff00;
            }

            .List .body .entry .remove {
                float: left;
                width: 20px;
                height: 20px;
                background: #ff0011;
            }