@import "fonts.css";

.Frame {
    background: #f5f5f5;
}

    .Frame .tabs {
        height: 30px;
        background: url("images/ui/tab_bar_bg.png") repeat-x #dedede;
        -webkit-box-shadow: 0px 1px 1px #3f3f3f;
        margin: 0 0 2px 0;
    }

    .Frame .content {
        display: inline-block;
        position: relative;
    }

        .Frame .content #codeEditor {
            position: absolute;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

.Tab {
    height: 26px;
    color: #053f70;
    margin: 4px 0 0 1px;
    text-shadow: 1px 1px 0px #b6d9f7;
    font-family: SansationRegular;
    float: left;
    cursor: pointer;
    -webkit-user-select: none;
}

    .Tab .button {
        height: 100%;
        background: url("images/ui/tab.png") repeat-x;
        -webkit-border-top-left-radius: 5px;
        -webkit-box-shadow: 0px -1px 0px #505050;
        float: left;
    }

        .Tab .button .title {
            margin: 4px 6px 0 6px;
        }

    .Tab:Hover .button,
    .Tab.selected .button {
        color: #ededed;
        background: url("images/ui/tab_selected.png") repeat-x;
        text-shadow: -1px -1px 0px #3f3f3f;
    }

    .Tab.selected .button {
        font-family: SansationBold;
    }

    .Tab .close {
        width: 16px;
        height: 100%;
        background: url("images/ui/tab.png");
        margin: 0 1px 0 0;
        -webkit-border-top-right-radius: 5px;
        -webkit-box-shadow: 0px -1px 0px #505050;
        float: left;
    }

    .Tab:Hover .close,
    .Tab.selected .close {
        background: url("images/ui/tab_selected.png") repeat-x;
    }

        .Tab .close:hover {
            background: url("images/ui/tab_close.png");
        }